a {
  text-decoration: none;
}

.pc {
  display: block !important;
}

@media (max-width: 1024px) {
  .pc {
    display: none !important;
  }
}

.mobile {
  display: none !important;
}

@media (max-width: 1024px) {
  .mobile {
    display: block !important;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.row.row-pad-0 {
  margin: 0px 0px;
}

.row.row-pad-0 > .col {
  padding: 0px;
}

.row.row-pad-1 {
  margin: 0px -1px;
}

.row.row-pad-1 > .col {
  padding: 1px;
}

.row.row-pad-2 {
  margin: 0px -2px;
}

.row.row-pad-2 > .col {
  padding: 2px;
}

.row.row-pad-3 {
  margin: 0px -3px;
}

.row.row-pad-3 > .col {
  padding: 3px;
}

.row.row-pad-4 {
  margin: 0px -4px;
}

.row.row-pad-4 > .col {
  padding: 4px;
}

.row.row-pad-5 {
  margin: 0px -5px;
}

.row.row-pad-5 > .col {
  padding: 5px;
}

.row.row-pad-6 {
  margin: 0px -6px;
}

.row.row-pad-6 > .col {
  padding: 6px;
}

.row.row-pad-7 {
  margin: 0px -7px;
}

.row.row-pad-7 > .col {
  padding: 7px;
}

.row.row-pad-8 {
  margin: 0px -8px;
}

.row.row-pad-8 > .col {
  padding: 8px;
}

.row.row-pad-9 {
  margin: 0px -9px;
}

.row.row-pad-9 > .col {
  padding: 9px;
}

.row.row-pad-10 {
  margin: 0px -10px;
}

.row.row-pad-10 > .col {
  padding: 10px;
}

.row.row-pad-11 {
  margin: 0px -11px;
}

.row.row-pad-11 > .col {
  padding: 11px;
}

.row.row-pad-12 {
  margin: 0px -12px;
}

.row.row-pad-12 > .col {
  padding: 12px;
}

.row.row-pad-13 {
  margin: 0px -13px;
}

.row.row-pad-13 > .col {
  padding: 13px;
}

.row.row-pad-14 {
  margin: 0px -14px;
}

.row.row-pad-14 > .col {
  padding: 14px;
}

.row.row-pad-15 {
  margin: 0px -15px;
}

.row.row-pad-15 > .col {
  padding: 15px;
}

.row.row-pad-16 {
  margin: 0px -16px;
}

.row.row-pad-16 > .col {
  padding: 16px;
}

.row.row-pad-17 {
  margin: 0px -17px;
}

.row.row-pad-17 > .col {
  padding: 17px;
}

.row.row-pad-18 {
  margin: 0px -18px;
}

.row.row-pad-18 > .col {
  padding: 18px;
}

.row.row-pad-19 {
  margin: 0px -19px;
}

.row.row-pad-19 > .col {
  padding: 19px;
}

.row.row-pad-20 {
  margin: 0px -20px;
}

.row.row-pad-20 > .col {
  padding: 20px;
}

.row.row-pad-21 {
  margin: 0px -21px;
}

.row.row-pad-21 > .col {
  padding: 21px;
}

.row.row-pad-22 {
  margin: 0px -22px;
}

.row.row-pad-22 > .col {
  padding: 22px;
}

.row.row-pad-23 {
  margin: 0px -23px;
}

.row.row-pad-23 > .col {
  padding: 23px;
}

.row.row-pad-24 {
  margin: 0px -24px;
}

.row.row-pad-24 > .col {
  padding: 24px;
}

.row.row-pad-25 {
  margin: 0px -25px;
}

.row.row-pad-25 > .col {
  padding: 25px;
}

.row.row-pad-26 {
  margin: 0px -26px;
}

.row.row-pad-26 > .col {
  padding: 26px;
}

.row.row-pad-27 {
  margin: 0px -27px;
}

.row.row-pad-27 > .col {
  padding: 27px;
}

.row.row-pad-28 {
  margin: 0px -28px;
}

.row.row-pad-28 > .col {
  padding: 28px;
}

.row.row-pad-29 {
  margin: 0px -29px;
}

.row.row-pad-29 > .col {
  padding: 29px;
}

.row.row-pad-30 {
  margin: 0px -30px;
}

.row.row-pad-30 > .col {
  padding: 30px;
}

.row.row-pad-31 {
  margin: 0px -31px;
}

.row.row-pad-31 > .col {
  padding: 31px;
}

.row.row-pad-32 {
  margin: 0px -32px;
}

.row.row-pad-32 > .col {
  padding: 32px;
}

.row.row-pad-33 {
  margin: 0px -33px;
}

.row.row-pad-33 > .col {
  padding: 33px;
}

.row.row-pad-34 {
  margin: 0px -34px;
}

.row.row-pad-34 > .col {
  padding: 34px;
}

.row.row-pad-35 {
  margin: 0px -35px;
}

.row.row-pad-35 > .col {
  padding: 35px;
}

.row.row-pad-36 {
  margin: 0px -36px;
}

.row.row-pad-36 > .col {
  padding: 36px;
}

.row.row-pad-37 {
  margin: 0px -37px;
}

.row.row-pad-37 > .col {
  padding: 37px;
}

.row.row-pad-38 {
  margin: 0px -38px;
}

.row.row-pad-38 > .col {
  padding: 38px;
}

.row.row-pad-39 {
  margin: 0px -39px;
}

.row.row-pad-39 > .col {
  padding: 39px;
}

.row.row-pad-40 {
  margin: 0px -40px;
}

.row.row-pad-40 > .col {
  padding: 40px;
}

.row.row-pad-41 {
  margin: 0px -41px;
}

.row.row-pad-41 > .col {
  padding: 41px;
}

.row.row-pad-42 {
  margin: 0px -42px;
}

.row.row-pad-42 > .col {
  padding: 42px;
}

.row.row-pad-43 {
  margin: 0px -43px;
}

.row.row-pad-43 > .col {
  padding: 43px;
}

.row.row-pad-44 {
  margin: 0px -44px;
}

.row.row-pad-44 > .col {
  padding: 44px;
}

.row.row-pad-45 {
  margin: 0px -45px;
}

.row.row-pad-45 > .col {
  padding: 45px;
}

.row.row-pad-46 {
  margin: 0px -46px;
}

.row.row-pad-46 > .col {
  padding: 46px;
}

.row.row-pad-47 {
  margin: 0px -47px;
}

.row.row-pad-47 > .col {
  padding: 47px;
}

.row.row-pad-48 {
  margin: 0px -48px;
}

.row.row-pad-48 > .col {
  padding: 48px;
}

.row.row-pad-49 {
  margin: 0px -49px;
}

.row.row-pad-49 > .col {
  padding: 49px;
}

.row.row-pad-50 {
  margin: 0px -50px;
}

.row.row-pad-50 > .col {
  padding: 50px;
}

.row.row-pad-51 {
  margin: 0px -51px;
}

.row.row-pad-51 > .col {
  padding: 51px;
}

.row.row-pad-52 {
  margin: 0px -52px;
}

.row.row-pad-52 > .col {
  padding: 52px;
}

.row.row-pad-53 {
  margin: 0px -53px;
}

.row.row-pad-53 > .col {
  padding: 53px;
}

.row.row-pad-54 {
  margin: 0px -54px;
}

.row.row-pad-54 > .col {
  padding: 54px;
}

.row.row-pad-55 {
  margin: 0px -55px;
}

.row.row-pad-55 > .col {
  padding: 55px;
}

.row.row-pad-56 {
  margin: 0px -56px;
}

.row.row-pad-56 > .col {
  padding: 56px;
}

.row.row-pad-57 {
  margin: 0px -57px;
}

.row.row-pad-57 > .col {
  padding: 57px;
}

.row.row-pad-58 {
  margin: 0px -58px;
}

.row.row-pad-58 > .col {
  padding: 58px;
}

.row.row-pad-59 {
  margin: 0px -59px;
}

.row.row-pad-59 > .col {
  padding: 59px;
}

.row.row-pad-60 {
  margin: 0px -60px;
}

.row.row-pad-60 > .col {
  padding: 60px;
}

.row.row-pad-61 {
  margin: 0px -61px;
}

.row.row-pad-61 > .col {
  padding: 61px;
}

.row.row-pad-62 {
  margin: 0px -62px;
}

.row.row-pad-62 > .col {
  padding: 62px;
}

.row.row-pad-63 {
  margin: 0px -63px;
}

.row.row-pad-63 > .col {
  padding: 63px;
}

.row.row-pad-64 {
  margin: 0px -64px;
}

.row.row-pad-64 > .col {
  padding: 64px;
}

.row.row-pad-65 {
  margin: 0px -65px;
}

.row.row-pad-65 > .col {
  padding: 65px;
}

.row.row-pad-66 {
  margin: 0px -66px;
}

.row.row-pad-66 > .col {
  padding: 66px;
}

.row.row-pad-67 {
  margin: 0px -67px;
}

.row.row-pad-67 > .col {
  padding: 67px;
}

.row.row-pad-68 {
  margin: 0px -68px;
}

.row.row-pad-68 > .col {
  padding: 68px;
}

.row.row-pad-69 {
  margin: 0px -69px;
}

.row.row-pad-69 > .col {
  padding: 69px;
}

.row.row-pad-70 {
  margin: 0px -70px;
}

.row.row-pad-70 > .col {
  padding: 70px;
}

.row.row-pad-71 {
  margin: 0px -71px;
}

.row.row-pad-71 > .col {
  padding: 71px;
}

.row.row-pad-72 {
  margin: 0px -72px;
}

.row.row-pad-72 > .col {
  padding: 72px;
}

.row.row-pad-73 {
  margin: 0px -73px;
}

.row.row-pad-73 > .col {
  padding: 73px;
}

.row.row-pad-74 {
  margin: 0px -74px;
}

.row.row-pad-74 > .col {
  padding: 74px;
}

.row.row-pad-75 {
  margin: 0px -75px;
}

.row.row-pad-75 > .col {
  padding: 75px;
}

.row.row-pad-76 {
  margin: 0px -76px;
}

.row.row-pad-76 > .col {
  padding: 76px;
}

.row.row-pad-77 {
  margin: 0px -77px;
}

.row.row-pad-77 > .col {
  padding: 77px;
}

.row.row-pad-78 {
  margin: 0px -78px;
}

.row.row-pad-78 > .col {
  padding: 78px;
}

.row.row-pad-79 {
  margin: 0px -79px;
}

.row.row-pad-79 > .col {
  padding: 79px;
}

.row.row-pad-80 {
  margin: 0px -80px;
}

.row.row-pad-80 > .col {
  padding: 80px;
}

.row.row-pad-81 {
  margin: 0px -81px;
}

.row.row-pad-81 > .col {
  padding: 81px;
}

.row.row-pad-82 {
  margin: 0px -82px;
}

.row.row-pad-82 > .col {
  padding: 82px;
}

.row.row-pad-83 {
  margin: 0px -83px;
}

.row.row-pad-83 > .col {
  padding: 83px;
}

.row.row-pad-84 {
  margin: 0px -84px;
}

.row.row-pad-84 > .col {
  padding: 84px;
}

.row.row-pad-85 {
  margin: 0px -85px;
}

.row.row-pad-85 > .col {
  padding: 85px;
}

.row.row-pad-86 {
  margin: 0px -86px;
}

.row.row-pad-86 > .col {
  padding: 86px;
}

.row.row-pad-87 {
  margin: 0px -87px;
}

.row.row-pad-87 > .col {
  padding: 87px;
}

.row.row-pad-88 {
  margin: 0px -88px;
}

.row.row-pad-88 > .col {
  padding: 88px;
}

.row.row-pad-89 {
  margin: 0px -89px;
}

.row.row-pad-89 > .col {
  padding: 89px;
}

.row.row-pad-90 {
  margin: 0px -90px;
}

.row.row-pad-90 > .col {
  padding: 90px;
}

.row.row-pad-91 {
  margin: 0px -91px;
}

.row.row-pad-91 > .col {
  padding: 91px;
}

.row.row-pad-92 {
  margin: 0px -92px;
}

.row.row-pad-92 > .col {
  padding: 92px;
}

.row.row-pad-93 {
  margin: 0px -93px;
}

.row.row-pad-93 > .col {
  padding: 93px;
}

.row.row-pad-94 {
  margin: 0px -94px;
}

.row.row-pad-94 > .col {
  padding: 94px;
}

.row.row-pad-95 {
  margin: 0px -95px;
}

.row.row-pad-95 > .col {
  padding: 95px;
}

.row.row-pad-96 {
  margin: 0px -96px;
}

.row.row-pad-96 > .col {
  padding: 96px;
}

.row.row-pad-97 {
  margin: 0px -97px;
}

.row.row-pad-97 > .col {
  padding: 97px;
}

.row.row-pad-98 {
  margin: 0px -98px;
}

.row.row-pad-98 > .col {
  padding: 98px;
}

.row.row-pad-99 {
  margin: 0px -99px;
}

.row.row-pad-99 > .col {
  padding: 99px;
}

.row.row-pad-100 {
  margin: 0px -100px;
}

.row.row-pad-100 > .col {
  padding: 100px;
}

.row .col.col-0 {
  -ms-flex: 0 0%;
      flex: 0 0%;
  min-width: 0%;
  display: none;
}

.row .col.col-1 {
  -ms-flex: 0 1%;
      flex: 0 1%;
  min-width: 1%;
}

.row .col.col-2 {
  -ms-flex: 0 2%;
      flex: 0 2%;
  min-width: 2%;
}

.row .col.col-3 {
  -ms-flex: 0 3%;
      flex: 0 3%;
  min-width: 3%;
}

.row .col.col-4 {
  -ms-flex: 0 4%;
      flex: 0 4%;
  min-width: 4%;
}

.row .col.col-5 {
  -ms-flex: 0 5%;
      flex: 0 5%;
  min-width: 5%;
}

.row .col.col-6 {
  -ms-flex: 0 6%;
      flex: 0 6%;
  min-width: 6%;
}

.row .col.col-7 {
  -ms-flex: 0 7%;
      flex: 0 7%;
  min-width: 7%;
}

.row .col.col-8 {
  -ms-flex: 0 8%;
      flex: 0 8%;
  min-width: 8%;
}

.row .col.col-9 {
  -ms-flex: 0 9%;
      flex: 0 9%;
  min-width: 9%;
}

.row .col.col-10 {
  -ms-flex: 0 10%;
      flex: 0 10%;
  min-width: 10%;
}

.row .col.col-11 {
  -ms-flex: 0 11%;
      flex: 0 11%;
  min-width: 11%;
}

.row .col.col-12 {
  -ms-flex: 0 12%;
      flex: 0 12%;
  min-width: 12%;
}

.row .col.col-13 {
  -ms-flex: 0 13%;
      flex: 0 13%;
  min-width: 13%;
}

.row .col.col-14 {
  -ms-flex: 0 14%;
      flex: 0 14%;
  min-width: 14%;
}

.row .col.col-15 {
  -ms-flex: 0 15%;
      flex: 0 15%;
  min-width: 15%;
}

.row .col.col-16 {
  -ms-flex: 0 16%;
      flex: 0 16%;
  min-width: 16%;
}

.row .col.col-17 {
  -ms-flex: 0 17%;
      flex: 0 17%;
  min-width: 17%;
}

.row .col.col-18 {
  -ms-flex: 0 18%;
      flex: 0 18%;
  min-width: 18%;
}

.row .col.col-19 {
  -ms-flex: 0 19%;
      flex: 0 19%;
  min-width: 19%;
}

.row .col.col-20 {
  -ms-flex: 0 20%;
      flex: 0 20%;
  min-width: 20%;
}

.row .col.col-21 {
  -ms-flex: 0 21%;
      flex: 0 21%;
  min-width: 21%;
}

.row .col.col-22 {
  -ms-flex: 0 22%;
      flex: 0 22%;
  min-width: 22%;
}

.row .col.col-23 {
  -ms-flex: 0 23%;
      flex: 0 23%;
  min-width: 23%;
}

.row .col.col-24 {
  -ms-flex: 0 24%;
      flex: 0 24%;
  min-width: 24%;
}

.row .col.col-25 {
  -ms-flex: 0 25%;
      flex: 0 25%;
  min-width: 25%;
}

.row .col.col-26 {
  -ms-flex: 0 26%;
      flex: 0 26%;
  min-width: 26%;
}

.row .col.col-27 {
  -ms-flex: 0 27%;
      flex: 0 27%;
  min-width: 27%;
}

.row .col.col-28 {
  -ms-flex: 0 28%;
      flex: 0 28%;
  min-width: 28%;
}

.row .col.col-29 {
  -ms-flex: 0 29%;
      flex: 0 29%;
  min-width: 29%;
}

.row .col.col-30 {
  -ms-flex: 0 30%;
      flex: 0 30%;
  min-width: 30%;
}

.row .col.col-31 {
  -ms-flex: 0 31%;
      flex: 0 31%;
  min-width: 31%;
}

.row .col.col-32 {
  -ms-flex: 0 32%;
      flex: 0 32%;
  min-width: 32%;
}

.row .col.col-33 {
  -ms-flex: 0 33%;
      flex: 0 33%;
  min-width: 33%;
}

.row .col.col-34 {
  -ms-flex: 0 34%;
      flex: 0 34%;
  min-width: 34%;
}

.row .col.col-35 {
  -ms-flex: 0 35%;
      flex: 0 35%;
  min-width: 35%;
}

.row .col.col-36 {
  -ms-flex: 0 36%;
      flex: 0 36%;
  min-width: 36%;
}

.row .col.col-37 {
  -ms-flex: 0 37%;
      flex: 0 37%;
  min-width: 37%;
}

.row .col.col-38 {
  -ms-flex: 0 38%;
      flex: 0 38%;
  min-width: 38%;
}

.row .col.col-39 {
  -ms-flex: 0 39%;
      flex: 0 39%;
  min-width: 39%;
}

.row .col.col-40 {
  -ms-flex: 0 40%;
      flex: 0 40%;
  min-width: 40%;
}

.row .col.col-41 {
  -ms-flex: 0 41%;
      flex: 0 41%;
  min-width: 41%;
}

.row .col.col-42 {
  -ms-flex: 0 42%;
      flex: 0 42%;
  min-width: 42%;
}

.row .col.col-43 {
  -ms-flex: 0 43%;
      flex: 0 43%;
  min-width: 43%;
}

.row .col.col-44 {
  -ms-flex: 0 44%;
      flex: 0 44%;
  min-width: 44%;
}

.row .col.col-45 {
  -ms-flex: 0 45%;
      flex: 0 45%;
  min-width: 45%;
}

.row .col.col-46 {
  -ms-flex: 0 46%;
      flex: 0 46%;
  min-width: 46%;
}

.row .col.col-47 {
  -ms-flex: 0 47%;
      flex: 0 47%;
  min-width: 47%;
}

.row .col.col-48 {
  -ms-flex: 0 48%;
      flex: 0 48%;
  min-width: 48%;
}

.row .col.col-49 {
  -ms-flex: 0 49%;
      flex: 0 49%;
  min-width: 49%;
}

.row .col.col-50 {
  -ms-flex: 0 50%;
      flex: 0 50%;
  min-width: 50%;
}

.row .col.col-51 {
  -ms-flex: 0 51%;
      flex: 0 51%;
  min-width: 51%;
}

.row .col.col-52 {
  -ms-flex: 0 52%;
      flex: 0 52%;
  min-width: 52%;
}

.row .col.col-53 {
  -ms-flex: 0 53%;
      flex: 0 53%;
  min-width: 53%;
}

.row .col.col-54 {
  -ms-flex: 0 54%;
      flex: 0 54%;
  min-width: 54%;
}

.row .col.col-55 {
  -ms-flex: 0 55%;
      flex: 0 55%;
  min-width: 55%;
}

.row .col.col-56 {
  -ms-flex: 0 56%;
      flex: 0 56%;
  min-width: 56%;
}

.row .col.col-57 {
  -ms-flex: 0 57%;
      flex: 0 57%;
  min-width: 57%;
}

.row .col.col-58 {
  -ms-flex: 0 58%;
      flex: 0 58%;
  min-width: 58%;
}

.row .col.col-59 {
  -ms-flex: 0 59%;
      flex: 0 59%;
  min-width: 59%;
}

.row .col.col-60 {
  -ms-flex: 0 60%;
      flex: 0 60%;
  min-width: 60%;
}

.row .col.col-61 {
  -ms-flex: 0 61%;
      flex: 0 61%;
  min-width: 61%;
}

.row .col.col-62 {
  -ms-flex: 0 62%;
      flex: 0 62%;
  min-width: 62%;
}

.row .col.col-63 {
  -ms-flex: 0 63%;
      flex: 0 63%;
  min-width: 63%;
}

.row .col.col-64 {
  -ms-flex: 0 64%;
      flex: 0 64%;
  min-width: 64%;
}

.row .col.col-65 {
  -ms-flex: 0 65%;
      flex: 0 65%;
  min-width: 65%;
}

.row .col.col-66 {
  -ms-flex: 0 66%;
      flex: 0 66%;
  min-width: 66%;
}

.row .col.col-67 {
  -ms-flex: 0 67%;
      flex: 0 67%;
  min-width: 67%;
}

.row .col.col-68 {
  -ms-flex: 0 68%;
      flex: 0 68%;
  min-width: 68%;
}

.row .col.col-69 {
  -ms-flex: 0 69%;
      flex: 0 69%;
  min-width: 69%;
}

.row .col.col-70 {
  -ms-flex: 0 70%;
      flex: 0 70%;
  min-width: 70%;
}

.row .col.col-71 {
  -ms-flex: 0 71%;
      flex: 0 71%;
  min-width: 71%;
}

.row .col.col-72 {
  -ms-flex: 0 72%;
      flex: 0 72%;
  min-width: 72%;
}

.row .col.col-73 {
  -ms-flex: 0 73%;
      flex: 0 73%;
  min-width: 73%;
}

.row .col.col-74 {
  -ms-flex: 0 74%;
      flex: 0 74%;
  min-width: 74%;
}

.row .col.col-75 {
  -ms-flex: 0 75%;
      flex: 0 75%;
  min-width: 75%;
}

.row .col.col-76 {
  -ms-flex: 0 76%;
      flex: 0 76%;
  min-width: 76%;
}

.row .col.col-77 {
  -ms-flex: 0 77%;
      flex: 0 77%;
  min-width: 77%;
}

.row .col.col-78 {
  -ms-flex: 0 78%;
      flex: 0 78%;
  min-width: 78%;
}

.row .col.col-79 {
  -ms-flex: 0 79%;
      flex: 0 79%;
  min-width: 79%;
}

.row .col.col-80 {
  -ms-flex: 0 80%;
      flex: 0 80%;
  min-width: 80%;
}

.row .col.col-81 {
  -ms-flex: 0 81%;
      flex: 0 81%;
  min-width: 81%;
}

.row .col.col-82 {
  -ms-flex: 0 82%;
      flex: 0 82%;
  min-width: 82%;
}

.row .col.col-83 {
  -ms-flex: 0 83%;
      flex: 0 83%;
  min-width: 83%;
}

.row .col.col-84 {
  -ms-flex: 0 84%;
      flex: 0 84%;
  min-width: 84%;
}

.row .col.col-85 {
  -ms-flex: 0 85%;
      flex: 0 85%;
  min-width: 85%;
}

.row .col.col-86 {
  -ms-flex: 0 86%;
      flex: 0 86%;
  min-width: 86%;
}

.row .col.col-87 {
  -ms-flex: 0 87%;
      flex: 0 87%;
  min-width: 87%;
}

.row .col.col-88 {
  -ms-flex: 0 88%;
      flex: 0 88%;
  min-width: 88%;
}

.row .col.col-89 {
  -ms-flex: 0 89%;
      flex: 0 89%;
  min-width: 89%;
}

.row .col.col-90 {
  -ms-flex: 0 90%;
      flex: 0 90%;
  min-width: 90%;
}

.row .col.col-91 {
  -ms-flex: 0 91%;
      flex: 0 91%;
  min-width: 91%;
}

.row .col.col-92 {
  -ms-flex: 0 92%;
      flex: 0 92%;
  min-width: 92%;
}

.row .col.col-93 {
  -ms-flex: 0 93%;
      flex: 0 93%;
  min-width: 93%;
}

.row .col.col-94 {
  -ms-flex: 0 94%;
      flex: 0 94%;
  min-width: 94%;
}

.row .col.col-95 {
  -ms-flex: 0 95%;
      flex: 0 95%;
  min-width: 95%;
}

.row .col.col-96 {
  -ms-flex: 0 96%;
      flex: 0 96%;
  min-width: 96%;
}

.row .col.col-97 {
  -ms-flex: 0 97%;
      flex: 0 97%;
  min-width: 97%;
}

.row .col.col-98 {
  -ms-flex: 0 98%;
      flex: 0 98%;
  min-width: 98%;
}

.row .col.col-99 {
  -ms-flex: 0 99%;
      flex: 0 99%;
  min-width: 99%;
}

.row .col.col-100 {
  -ms-flex: 0 100%;
      flex: 0 100%;
  min-width: 100%;
}

@media (max-width: 1024px) {
  .row .col.col-md-0 {
    -ms-flex: 0 0%;
        flex: 0 0%;
    min-width: 0%;
    display: none;
  }
  .row .col.col-md-1 {
    -ms-flex: 0 1%;
        flex: 0 1%;
    min-width: 1%;
  }
  .row .col.col-md-2 {
    -ms-flex: 0 2%;
        flex: 0 2%;
    min-width: 2%;
  }
  .row .col.col-md-3 {
    -ms-flex: 0 3%;
        flex: 0 3%;
    min-width: 3%;
  }
  .row .col.col-md-4 {
    -ms-flex: 0 4%;
        flex: 0 4%;
    min-width: 4%;
  }
  .row .col.col-md-5 {
    -ms-flex: 0 5%;
        flex: 0 5%;
    min-width: 5%;
  }
  .row .col.col-md-6 {
    -ms-flex: 0 6%;
        flex: 0 6%;
    min-width: 6%;
  }
  .row .col.col-md-7 {
    -ms-flex: 0 7%;
        flex: 0 7%;
    min-width: 7%;
  }
  .row .col.col-md-8 {
    -ms-flex: 0 8%;
        flex: 0 8%;
    min-width: 8%;
  }
  .row .col.col-md-9 {
    -ms-flex: 0 9%;
        flex: 0 9%;
    min-width: 9%;
  }
  .row .col.col-md-10 {
    -ms-flex: 0 10%;
        flex: 0 10%;
    min-width: 10%;
  }
  .row .col.col-md-11 {
    -ms-flex: 0 11%;
        flex: 0 11%;
    min-width: 11%;
  }
  .row .col.col-md-12 {
    -ms-flex: 0 12%;
        flex: 0 12%;
    min-width: 12%;
  }
  .row .col.col-md-13 {
    -ms-flex: 0 13%;
        flex: 0 13%;
    min-width: 13%;
  }
  .row .col.col-md-14 {
    -ms-flex: 0 14%;
        flex: 0 14%;
    min-width: 14%;
  }
  .row .col.col-md-15 {
    -ms-flex: 0 15%;
        flex: 0 15%;
    min-width: 15%;
  }
  .row .col.col-md-16 {
    -ms-flex: 0 16%;
        flex: 0 16%;
    min-width: 16%;
  }
  .row .col.col-md-17 {
    -ms-flex: 0 17%;
        flex: 0 17%;
    min-width: 17%;
  }
  .row .col.col-md-18 {
    -ms-flex: 0 18%;
        flex: 0 18%;
    min-width: 18%;
  }
  .row .col.col-md-19 {
    -ms-flex: 0 19%;
        flex: 0 19%;
    min-width: 19%;
  }
  .row .col.col-md-20 {
    -ms-flex: 0 20%;
        flex: 0 20%;
    min-width: 20%;
  }
  .row .col.col-md-21 {
    -ms-flex: 0 21%;
        flex: 0 21%;
    min-width: 21%;
  }
  .row .col.col-md-22 {
    -ms-flex: 0 22%;
        flex: 0 22%;
    min-width: 22%;
  }
  .row .col.col-md-23 {
    -ms-flex: 0 23%;
        flex: 0 23%;
    min-width: 23%;
  }
  .row .col.col-md-24 {
    -ms-flex: 0 24%;
        flex: 0 24%;
    min-width: 24%;
  }
  .row .col.col-md-25 {
    -ms-flex: 0 25%;
        flex: 0 25%;
    min-width: 25%;
  }
  .row .col.col-md-26 {
    -ms-flex: 0 26%;
        flex: 0 26%;
    min-width: 26%;
  }
  .row .col.col-md-27 {
    -ms-flex: 0 27%;
        flex: 0 27%;
    min-width: 27%;
  }
  .row .col.col-md-28 {
    -ms-flex: 0 28%;
        flex: 0 28%;
    min-width: 28%;
  }
  .row .col.col-md-29 {
    -ms-flex: 0 29%;
        flex: 0 29%;
    min-width: 29%;
  }
  .row .col.col-md-30 {
    -ms-flex: 0 30%;
        flex: 0 30%;
    min-width: 30%;
  }
  .row .col.col-md-31 {
    -ms-flex: 0 31%;
        flex: 0 31%;
    min-width: 31%;
  }
  .row .col.col-md-32 {
    -ms-flex: 0 32%;
        flex: 0 32%;
    min-width: 32%;
  }
  .row .col.col-md-33 {
    -ms-flex: 0 33%;
        flex: 0 33%;
    min-width: 33%;
  }
  .row .col.col-md-34 {
    -ms-flex: 0 34%;
        flex: 0 34%;
    min-width: 34%;
  }
  .row .col.col-md-35 {
    -ms-flex: 0 35%;
        flex: 0 35%;
    min-width: 35%;
  }
  .row .col.col-md-36 {
    -ms-flex: 0 36%;
        flex: 0 36%;
    min-width: 36%;
  }
  .row .col.col-md-37 {
    -ms-flex: 0 37%;
        flex: 0 37%;
    min-width: 37%;
  }
  .row .col.col-md-38 {
    -ms-flex: 0 38%;
        flex: 0 38%;
    min-width: 38%;
  }
  .row .col.col-md-39 {
    -ms-flex: 0 39%;
        flex: 0 39%;
    min-width: 39%;
  }
  .row .col.col-md-40 {
    -ms-flex: 0 40%;
        flex: 0 40%;
    min-width: 40%;
  }
  .row .col.col-md-41 {
    -ms-flex: 0 41%;
        flex: 0 41%;
    min-width: 41%;
  }
  .row .col.col-md-42 {
    -ms-flex: 0 42%;
        flex: 0 42%;
    min-width: 42%;
  }
  .row .col.col-md-43 {
    -ms-flex: 0 43%;
        flex: 0 43%;
    min-width: 43%;
  }
  .row .col.col-md-44 {
    -ms-flex: 0 44%;
        flex: 0 44%;
    min-width: 44%;
  }
  .row .col.col-md-45 {
    -ms-flex: 0 45%;
        flex: 0 45%;
    min-width: 45%;
  }
  .row .col.col-md-46 {
    -ms-flex: 0 46%;
        flex: 0 46%;
    min-width: 46%;
  }
  .row .col.col-md-47 {
    -ms-flex: 0 47%;
        flex: 0 47%;
    min-width: 47%;
  }
  .row .col.col-md-48 {
    -ms-flex: 0 48%;
        flex: 0 48%;
    min-width: 48%;
  }
  .row .col.col-md-49 {
    -ms-flex: 0 49%;
        flex: 0 49%;
    min-width: 49%;
  }
  .row .col.col-md-50 {
    -ms-flex: 0 50%;
        flex: 0 50%;
    min-width: 50%;
  }
  .row .col.col-md-51 {
    -ms-flex: 0 51%;
        flex: 0 51%;
    min-width: 51%;
  }
  .row .col.col-md-52 {
    -ms-flex: 0 52%;
        flex: 0 52%;
    min-width: 52%;
  }
  .row .col.col-md-53 {
    -ms-flex: 0 53%;
        flex: 0 53%;
    min-width: 53%;
  }
  .row .col.col-md-54 {
    -ms-flex: 0 54%;
        flex: 0 54%;
    min-width: 54%;
  }
  .row .col.col-md-55 {
    -ms-flex: 0 55%;
        flex: 0 55%;
    min-width: 55%;
  }
  .row .col.col-md-56 {
    -ms-flex: 0 56%;
        flex: 0 56%;
    min-width: 56%;
  }
  .row .col.col-md-57 {
    -ms-flex: 0 57%;
        flex: 0 57%;
    min-width: 57%;
  }
  .row .col.col-md-58 {
    -ms-flex: 0 58%;
        flex: 0 58%;
    min-width: 58%;
  }
  .row .col.col-md-59 {
    -ms-flex: 0 59%;
        flex: 0 59%;
    min-width: 59%;
  }
  .row .col.col-md-60 {
    -ms-flex: 0 60%;
        flex: 0 60%;
    min-width: 60%;
  }
  .row .col.col-md-61 {
    -ms-flex: 0 61%;
        flex: 0 61%;
    min-width: 61%;
  }
  .row .col.col-md-62 {
    -ms-flex: 0 62%;
        flex: 0 62%;
    min-width: 62%;
  }
  .row .col.col-md-63 {
    -ms-flex: 0 63%;
        flex: 0 63%;
    min-width: 63%;
  }
  .row .col.col-md-64 {
    -ms-flex: 0 64%;
        flex: 0 64%;
    min-width: 64%;
  }
  .row .col.col-md-65 {
    -ms-flex: 0 65%;
        flex: 0 65%;
    min-width: 65%;
  }
  .row .col.col-md-66 {
    -ms-flex: 0 66%;
        flex: 0 66%;
    min-width: 66%;
  }
  .row .col.col-md-67 {
    -ms-flex: 0 67%;
        flex: 0 67%;
    min-width: 67%;
  }
  .row .col.col-md-68 {
    -ms-flex: 0 68%;
        flex: 0 68%;
    min-width: 68%;
  }
  .row .col.col-md-69 {
    -ms-flex: 0 69%;
        flex: 0 69%;
    min-width: 69%;
  }
  .row .col.col-md-70 {
    -ms-flex: 0 70%;
        flex: 0 70%;
    min-width: 70%;
  }
  .row .col.col-md-71 {
    -ms-flex: 0 71%;
        flex: 0 71%;
    min-width: 71%;
  }
  .row .col.col-md-72 {
    -ms-flex: 0 72%;
        flex: 0 72%;
    min-width: 72%;
  }
  .row .col.col-md-73 {
    -ms-flex: 0 73%;
        flex: 0 73%;
    min-width: 73%;
  }
  .row .col.col-md-74 {
    -ms-flex: 0 74%;
        flex: 0 74%;
    min-width: 74%;
  }
  .row .col.col-md-75 {
    -ms-flex: 0 75%;
        flex: 0 75%;
    min-width: 75%;
  }
  .row .col.col-md-76 {
    -ms-flex: 0 76%;
        flex: 0 76%;
    min-width: 76%;
  }
  .row .col.col-md-77 {
    -ms-flex: 0 77%;
        flex: 0 77%;
    min-width: 77%;
  }
  .row .col.col-md-78 {
    -ms-flex: 0 78%;
        flex: 0 78%;
    min-width: 78%;
  }
  .row .col.col-md-79 {
    -ms-flex: 0 79%;
        flex: 0 79%;
    min-width: 79%;
  }
  .row .col.col-md-80 {
    -ms-flex: 0 80%;
        flex: 0 80%;
    min-width: 80%;
  }
  .row .col.col-md-81 {
    -ms-flex: 0 81%;
        flex: 0 81%;
    min-width: 81%;
  }
  .row .col.col-md-82 {
    -ms-flex: 0 82%;
        flex: 0 82%;
    min-width: 82%;
  }
  .row .col.col-md-83 {
    -ms-flex: 0 83%;
        flex: 0 83%;
    min-width: 83%;
  }
  .row .col.col-md-84 {
    -ms-flex: 0 84%;
        flex: 0 84%;
    min-width: 84%;
  }
  .row .col.col-md-85 {
    -ms-flex: 0 85%;
        flex: 0 85%;
    min-width: 85%;
  }
  .row .col.col-md-86 {
    -ms-flex: 0 86%;
        flex: 0 86%;
    min-width: 86%;
  }
  .row .col.col-md-87 {
    -ms-flex: 0 87%;
        flex: 0 87%;
    min-width: 87%;
  }
  .row .col.col-md-88 {
    -ms-flex: 0 88%;
        flex: 0 88%;
    min-width: 88%;
  }
  .row .col.col-md-89 {
    -ms-flex: 0 89%;
        flex: 0 89%;
    min-width: 89%;
  }
  .row .col.col-md-90 {
    -ms-flex: 0 90%;
        flex: 0 90%;
    min-width: 90%;
  }
  .row .col.col-md-91 {
    -ms-flex: 0 91%;
        flex: 0 91%;
    min-width: 91%;
  }
  .row .col.col-md-92 {
    -ms-flex: 0 92%;
        flex: 0 92%;
    min-width: 92%;
  }
  .row .col.col-md-93 {
    -ms-flex: 0 93%;
        flex: 0 93%;
    min-width: 93%;
  }
  .row .col.col-md-94 {
    -ms-flex: 0 94%;
        flex: 0 94%;
    min-width: 94%;
  }
  .row .col.col-md-95 {
    -ms-flex: 0 95%;
        flex: 0 95%;
    min-width: 95%;
  }
  .row .col.col-md-96 {
    -ms-flex: 0 96%;
        flex: 0 96%;
    min-width: 96%;
  }
  .row .col.col-md-97 {
    -ms-flex: 0 97%;
        flex: 0 97%;
    min-width: 97%;
  }
  .row .col.col-md-98 {
    -ms-flex: 0 98%;
        flex: 0 98%;
    min-width: 98%;
  }
  .row .col.col-md-99 {
    -ms-flex: 0 99%;
        flex: 0 99%;
    min-width: 99%;
  }
  .row .col.col-md-100 {
    -ms-flex: 0 100%;
        flex: 0 100%;
    min-width: 100%;
  }
}
/*# sourceMappingURL=mixin.css.map */