@import "reset.scss";
@import "animate.scss";
@import "bootstrap/bootstrap";

$sm: 640px;
$md: 767px;
$lg: 992px;
$xl-m: 1024px;
$xl: 1366px;

.pc {
  display: block !important;
  @media (max-width: $md) {
    display: none !important;
  }
}

.mobile {
  display: none !important;

  @media (max-width: $md) {
    display: block !important;
  }
}

html,
body {
  font-family: "Noto Sans TC", sans-serif, "微軟正黑體" !important;
}

a {
  outline: none !important;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  font-family: "Noto Sans TC", sans-serif, "微軟正黑體";
  background: #fff;

  img {
    width: 100%;
    max-width: 100%;
  }
}
